<footer class='footer'>
    <div class='content has-text-centered'>
        <p>
            <strong>DitigalDiveIn</strong>
            by Steve Meyer
            <a href='https://github.com/ultimated1228/'></a>. The source
            code is licensed by
            <a href='https://github.com/ultimated1228/techBlog/blob/main/LICENSE'>MIT</a>.
        </p>
        <a href='https://tailwindcss.com'>
            <img src='/assets/tailwindcss-ar21.svg' alt='Made with Tailwind' width='128' height='24' />
        </a>
    </div>
</footer>