<a href="/">home</a>
<a href="/blogs">Blogs</a>
<a href="/editPost">editPost</a>
<a href="/error">Error</a>
<a href="/register">register</a>
<a href="/singleBlog">Single Blog</a>
{{!-- {{#if signedIn}}
<a id='log-out' href='/login' target=''>
Sign Out</a>
{{else}}
{{#if loggedOut}} --}}
<a id='log-out' href='/login' target=''>
Sign In</a>
{{!-- {{/if}} --}}

